<div class="container">
  <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Doctor list

                    <div class="row pull-right">    
                        <div class="col-md-6">
                            <%= link_to "New", controller: "doctors", action: "new" %>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>CRM</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <% @doctors.each do |doctor| %>
                                <tr>
                                  <td><%= doctor.id %></td>
                                  <td><%= doctor.name %></td>
                                  <td><%= doctor.crm %></td>
                                  <td>
                                      <%= link_to "Edit", controller: "doctors", action: "edit", id: doctor.id %>
                                      <%= link_to "Remove", doctor, method: :delete, data: { confirm: "Are you sure about it?" } %>
                                  </td>
                                </tr>
                              <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>